/* Reset some default styles for consistency */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style links and buttons */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn:hover {
    filter: brightness(85%);
}

/* Style forms */
form {
    margin-top: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-warning {
    background-color: #ffa500;
    color: #333;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
}

/* FORM */
/* Form container */
/* Apply styles to form fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Style labels for form fields */
label {
    font-weight: bold;
}

/* Style submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style error messages */
.error-message {
    color: #dc3545;
    font-size: 14px;
}

/* Portofolio */
/* Style for the .portfolio-item class */
.portfolio-list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 25%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.portfolio-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.portfolio-item p {
    font-size: 16px;
    margin-bottom: 10px;
}

.portfolio-item .image-container {
    width: 100% ;
    height: 300px; /* Set a fixed height for the square container */
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop and fill the container while maintaining aspect ratio */
}

.portfolio-item a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.portfolio-item a:hover {
    background-color: #0056b3;
}